@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #181818;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Roboto"), url("./fonts/Poppins-Regular.woff2") format("woff2"), url("./fonts/Poppins-Regular.woff") format("woff");
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #ffffff0a;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

.jse-tree-mode.svelte-1chflnh .jse-contents.svelte-1chflnh {
  border: none;
}

.jse-tree-mode.no-main-menu.svelte-1chflnh.svelte-1chflnh {
  border: none;
}

.jv-container.boxed {
  border: none;
  border-color: #ffffff0a;
  border-radius: 10px;
}

.jv-container .jv-more:after {
  background: none;
  background: none;
}

.jv-container .jv-code {
  padding: 10px 20px;
}

.jse-contents.svelte-o0o8bj {
  border: 0px;
}

.jse-text-mode.no-main-menu.svelte-o0o8bj.svelte-o0o8bj {
  border: 0px;
}

.ͼ1 .cm-gutter-lint {
  width: 1.2em;
}

.ͼo {
  color: #7FCFA0;
}

.ͼr {
  color: #C789D6;
}

.ͼp {
  color: #D19A66;
}

.n-base-selection {
  border-radius: 5px;
}

.n-base-selection-overlay__wrapper, .n-base-selection-input__content {
  font-size: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #181818;
  }
}
